/* Footer.css */
/*#wrapper{
    height : auto;
    min-height: 100%;
}*/

.footer {
/*    background-color: #5d7562;
    padding: 10px 0;
    bottom: 0;
    position : relative;
    transform : translateY(-100%);
    width: 100%;
    min-height: 100%;*/
    background-color: #5d7562;
    padding: 30px 30px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-around;
}

.footer-content {
    max-width: 300px;
    text-align: center;
}

.footer-content h4 {
    color: white;
    font-size: 18px; /* 헤더 크기 키우기 */
    /*color: #386b3f;*/
    margin-bottom: 10px; /* 아래 여백 추가 */
}

.footer-content p {
    color: white;
    font-size: 14px; /* 문단 크기 키우기 */
    /*color: #6c757d;*/
    margin-bottom: 10px; /* 아래 여백 추가 */
}

.footer-content a {
    color: white;
    font-size: 16px; /* 링크 크기 키우기 */
    /*color: #386b3f;*/
    text-decoration: none;
    display: block;
    margin-top: 10px;
}

.footer-content a:hover {
    text-decoration: underline;
}

.footer-bottom {
    color: #6c757d;
    bottom: 0;
    right: 60px;
    font-size: 12px;
}

.sticky-footer {
    position: fixed;
    bottom: 0;
}
