/*// Header.css*/

.header.container {
    width: 100%;
    overflow: hidden;
}
.navbar-nav {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
}

.top-link img {
    width: 180px; /*홈 아이콘 조절*/
    height: 60px;
    margin-left: 40px;
}

.top-link img:hover {
    scale: 1.1;
}

.navbar-nav .nav-item {
    margin: 0 40px; /* 메뉴 간격 조절 */
    align-items: center;
    justify-content: center;
}

.navbar-nav .nav-item a{
    font-size: 17px;
}


.dropdown-item span {
    font-size: 18px;
    width: 200px;
}

li .dropdown-item {
    justify-content: space-between;
}

li .dropdown-item:hover {
    background-color: transparent;
    font-weight: bold;
}

li .dropdown-item.active {
    color: black;
    background-color: #ffffff;
}

.navbar-nav .top-link {
    color: #3f464d;

}

.navbar-nav .top-link:hover,
.navbar-nav .top-link.active {
    color: #386b3f !important; /* 호버 시 메뉴 텍스트 색상 설정 */
    font-weight: bold;
}


.navbar-expand-lg {
    border-bottom: 1px solid #ccc;
}

.search-form {
    border: 2px solid #ccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.search-form input {
    height: 30px;
    padding-left: 10px;
    border: none;
    outline: none;
    box-shadow: none;
    margin-left: 7px;
}

.search-form input:focus {
    border: none;
    outline: none;
    box-shadow: none;
}


.search-btn {
    color: #2f3234; /* 검색 버튼 색상 설정 */
    height: 30px;
    padding-right: 10px;
    border: none;
    margin-left: 5px;
    background-color: transparent;
}
